.root {
  width: 100%;
}

body {
  background-color: #f6f5f1;
  font-family: "Nunito", sans-serif;
}

@font-face {
  font-family: Nunito;
  src: url("../src/assets/fonts/Nunito/Nunito-VariableFont_wght.ttf");
}
@font-face {
  font-family: Nunito Sans;
  src: url("../src/assets/fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf");
}
@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-neutral-100: #f6f5f1;
  --color-neutral-200: #e0e6e3;
  --color-neutral-300: #d0dcd9;
  --color-neutral-600: #395852;
  --color-neutral-900: #163a34;
  --color-white: #ffffff;
  --color-orange: #fe9f6b;
  --color-teal: #49ac9b;
  --color-indigo: #697ddb;

  --font-nunito: Nunito, "sans-serif";
  --font-nunito-sans: Nunito Sans, "sans-serif";

  --spacing-025: 2px;
  --spacing-050: 4px;
  --spacing-075: 6px;
  --spacing-100: 8px;
  --spacing-125: 10px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-250: 20px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-800: 64px;
  --spacing-1000: 80px;
  --spacing-1200: 96px;
  --spacing-1400: 112px;
  --spacing-1600: 128px;
  --spacing-1800: 140px;
}

h1 {
  font-family: "Nunito", sans-serif;
  font-size: 72px;
  line-height: 110%;
  letter-spacing: -2px;
  font-weight: 800;
  color: var(--color-neutral-900);

  @media screen and (max-width: 768px) {
    font-size: 64px;
  }

  @media screen and (max-width: 600px) {
    font-size: 52px;
  }
}

h2 {
  font-family: "Nunito", sans-serif;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -2px;
  font-weight: 800;
  color: var(--color-neutral-900);

  @media screen and (max-width: 600px) {
    font-size: 40px;
  }
}

h3 {
  font-family: "Nunito", sans-serif;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: -1px;
  font-weight: 700;
  color: var(--color-neutral-900);
}

h4 {
  font-family: "Nunito", sans-serif;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -1px;
  font-weight: 700;
  color: var(--color-neutral-900);
}

h5 {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.5px;
  color: var(--color-neutral-900);
}

h6 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -0.3px;
  font-weight: 400;
  color: var(--color-neutral-900);
}

p {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.3px;
  font-weight: 400;
  color: var(--color-neutral-900);

  @media screen and (max-width: 600px) {
    font-size: 14px;
  }
}
